<div class="container">
  <ng-container *ngIf="equipment; else notFound">
    <h2>{{ equipment?.name }}</h2>
    <div class="image-wrapper">
      <img [src]="equipment?.imageUrl" alt="{{ equipment?.name }}">
    </div>
    <p>{{ equipment?.description }}</p>
    <p><strong>Preț/zi:</strong> {{ equipment?.pricePerDay }} $</p>
    <p><strong>Status:</strong>
      <span [ngStyle]="{ color: equipment?.available ? 'green' : 'red' }">
        {{ equipment?.available ? 'Disponibil' : 'In-disponibil' }}
      </span>
    </p>
    <div class="back-container">
      <button routerLink="/" class="back-btn">← Înapoi la Home</button>
    </div>
  </ng-container>

  <ng-template #notFound>
    <p>Echipament nu a fost găsit.</p>
    <div class="back-container">
      <button routerLink="/" class="back-btn">Înapoi la Home</button>
    </div>
  </ng-template>
</div>
