<div class="container">
  <h2>Contactează-ne</h2>
  <form (ngSubmit)="submit()" #contactForm="ngForm">
    <label for="name">Nume:</label>
    <input type="text" id="name" [(ngModel)]="name" name="name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" required>

    <label for="message">Mesaj:</label>
    <textarea id="message" [(ngModel)]="message" name="message" required></textarea>

    <button type="submit" [disabled]="contactForm.invalid">Trimite</button>
  </form>

  <div class="back-container">
    <button routerLink="/" class="back-btn">← Înapoi la Home</button>
  </div>
</div>
